#supplydrop {
  top: -120%;
  position: absolute;
}

.swing-animation {
  animation: swing 4s ease-in-out 1 forwards;
}

@keyframes swing {
  0% {
    top: -120%;
    left: 30%; 
    transform: rotate(16deg);
  }
  20% {
    left: 53%;
    transform: rotate(-13deg);
  }
  40% {
    left: 35%;
    transform: rotate(10deg);
  }
  60% {
    left: 50%;
    transform: rotate(-7deg);
  }
  80% {
    left: 40%;
    top: 18%;
    transform: rotate(3deg);
  }
  100% {
    top: 21.3%;
    left: 45%;
    transform: rotate(0deg);
  }
}

.fade-out {
  animation: fade-out 1s linear 1 forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fade-in 1s linear 1 forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
